<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/default">
<body>
	  <th:block layout:fragment="css">
	  <style>
	  </style>
  	  </th:block>
	  <!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper" layout:fragment="content">
	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <!-- Main row -->
	       <div class="row">
		          <div class="col-md-12">
		            <!-- general form elements -->
		            <div class="card card-primary">
		              <div class="card-header">
		                <h3 class="card-title">카카오채널(공개아이디:_xmXDFT) <a href="#" id="kakao-add-channel-button"></a></h3>
		
		                <div class="card-tools">
		                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
		                  </button>
		                </div>
		                <!-- /.card-tools -->
		              </div>
		              <!-- /.card-header -->
		              <div class="card-body">
		                 고객파일 관리
		              </div>
		              <!-- /.card-body -->
		            </div>
		            <!-- /.card -->
		          </div>
		          <!--/.col (left) -->
		      </div>
		      <!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	    
	    
	 </div>
	<th:block layout:fragment="script">
		<!-- Bootstrap 4 -->
		<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- AdminLTE App -->
		<script src="/dist/js/adminlte.min.js"></script>
		<!-- AdminLTE for demo purposes -->
		<script src="/dist/js/demo.js"></script>
		<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
		  <script type='text/javascript'>
     	 	//<![CDATA[
	        // 사용할 앱의 JavaScript 키를 설정해 주세요.
	        var AppKey = '40d083a458c29085c64c1ed26571af36';
	        Kakao.init(AppKey);
	        
	        Kakao.Channel.createAddChannelButton({
	            container: '#kakao-add-channel-button',
	            channelPublicId: '_xmXDFT' // 채널 홈 URL에 명시된 id로 설정합니다.
	          });
	        
      //]]>

    </script>
	</th:block>
	
</body>
</html>