<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인게시판</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
	
	<div class="container mt-5" style="text-align:center;">
		<div class="row mt-5">
			<div class="col">
			<h3>Board</h3>
				<table class="table table-hover" style="text-align:center;">
					<thead>
						<tr>
							<th>no</th>
							<th>제목</th>
							<th>내용</th>
							<th>작성일</th>
							<th>권한</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="board: ${boardList}">
							<td th:text="${board.content_no}"></td>
							<td th:text="${board.content_title}"></td>
							<td th:text="${board.content_text}"></td>
							<td th:text="${#dates.format(board.content_writedate,'yyyy-MM-dd')}"></td>
							<td>
								<a href="/board/board_delete_process?content_no=${board.content_no}" class="btn btn-danger">삭제</a>
								<a href="/board/board_update" class="btn btn-warning">수정</a>
							</td>
						</tr>
					</tbody>
				</table>
				<a href="/board/board_write" class="btn btn-primary" style="float:left">글쓰기</a>	
			</div>
		</div>
	</div>
<!-- 	<a class="btn btn-danger" href="${pageContext.request.contextPath}/content/qna_delete_process.do?qna_no=${qnaResultList.qnaVo.qna_no}">삭제</a> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>